<section class="page-section" id="about-team">
<div class="container">
  <div class="row">
	<div class="col-lg-12 text-center">
	  <h2 class="section-heading text-uppercase">OUR AMAZING TEAM</h2>
	  <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
	</div>
  </div>
  <div class="row">
  
	<div class="row">
	  <div class="team-member">
      <div class="col">
		    <img class="mx-auto rounded-circle" src="assets/img/team/IMG-7180.jpg" alt="">
      </div>
		<h4>Tanya Datta</h4>
		<p class="text-muted">Founder</p>
   
		<ul class="list-inline social-buttons">
		
		  <li class="list-inline-item">
			<a href="https://twitter.com">
			  <i class="fab fa-twitter"></i>
			</a>
		  </li>
		
		  <li class="list-inline-item">
			<a href="https://facebook.com">
			  <i class="fab fa-facebook-f"></i>
			</a>
		  </li>
		
		  <li class="list-inline-item">
			<a href="https://linkedin.com">
			  <i class="fab fa-linkedin-in"></i>
			</a>
		  </li>
		
		</ul>
	  </div>
      <div class="col" "text-center" >
        <p class="text">
          <br>
          Tanya Datta is an avid coder and aspiring computer scientist with much experience in machine
          learning. She has acquired a substantial knowledge base through taking numerous courses
          regarding Python, Java, and TensorFlow. Additionally, she is familiar with web development
          from her work with Notre Dame professors to create a database for a children’s hospital in
          Mexico. At Penn High School, Tanya participates in relevant clubs such as Girls Who Code and
          TEAMS, and demonstrates leadership skills in other activities, such as Science Academic Super
          Bowl and Model UN. With her passion for computer science, she looks to inspire the next
          generation through After School AI.
          </p>
      </div>    
	</div>
  
	<div class="row">
	  <div class="team-member">
    <div class="col">
		  <img class="mx-auto rounded-circle" src="assets/img/team/IMG_6385.jpg" alt="">
    </div>
		<h4>Rudra Patel</h4>
		<p class="text-muted">Co-Founder</p>
		<ul class="list-inline social-buttons">
		
		  <li class="list-inline-item">
			<a href="https://twitter.com">
			  <i class="fab fa-twitter"></i>
			</a>
		  </li>
		
		  <li class="list-inline-item">
			<a href="https://facebook.com">
			  <i class="fab fa-facebook-f"></i>
			</a>
		  </li>
		
		  <li class="list-inline-item">
			<a href="https://linkedin.com">
			  <i class="fab fa-linkedin-in"></i>
			</a>
		  </li>
		
		</ul>
	  </div>
    <div class="col" "text-center" >
        <p class="text">
          <br>
          <br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.          
          </p>
      </div>
    
	</div>
  
	<div class="row">
	  <div class="team-member">
      <div class="col">
		    <img class="mx-auto rounded-circle" src="assets/img/team/IMG-6963.jpg" alt="">
      </div>
		<h4>Allison Yu</h4>
          <p class="text-muted">Outreach and Social Media <br> Coordinator</p>
   
		<ul class="list-inline social-buttons">
		
		  <li class="list-inline-item">
			<a href="https://twitter.com">
			  <i class="fab fa-twitter"></i>
			</a>
		  </li>
		
		  <li class="list-inline-item">
			<a href="https://facebook.com">
			  <i class="fab fa-facebook-f"></i>
			</a>
		  </li>
		
		  <li class="list-inline-item">
			<a href="https://linkedin.com">
			  <i class="fab fa-linkedin-in"></i>
			</a>
		  </li>
		
		</ul>
	  </div>
      <div class="col" "text-center" >
        <p class="text">
          <br>
          Allison Yu has experience in data science through her work with a Notre Dame professor
          regarding data visualization and information perception. She is also familiar with data
          management in working with IU’s Bureau of Business and Economics to publish data for a local
          economic newsletter. At Penn High School, Allison participates in STEM activities such as Math
          Academic Superbowl and other math competitions, and demonstrates leadership through her
          executive roles in Science Academic Super Bowl, Model UN, and Kingsmen Court.          </p>
      </div>    
	</div>

	<div class="row">
	  <div class="team-member">
    <div class="col">
    	<img class="mx-auto rounded-circle" src="assets/img/team/IMG-7624.jpg" alt="">
    </div>
			<h4>Emily Nochowitz</h4>
		<p class="text-muted">Events Coordinator</p>
		<ul class="list-inline social-buttons">
		
		  <li class="list-inline-item">
			<a href="https://twitter.com">
			  <i class="fab fa-twitter"></i>
			</a>
		  </li>
		
		  <li class="list-inline-item">
			<a href="https://facebook.com">
			  <i class="fab fa-facebook-f"></i>
			</a>
		  </li>
		
		  <li class="list-inline-item">
			<a href="https://linkedin.com">
			  <i class="fab fa-linkedin-in"></i>
			</a>
		  </li>
		
		</ul>
	  </div>
    <div class="col" "text-center" >
      <p class="text">
        <br>
        <br>
        As the president of German club and a Freshman mentoring board member at Penn High School,
        Emily Nochowitz has plenty of experience planning, coordinating, and preparing activities for large 
        groups of students. She also has experience organizing elementary school aged children as
        a prior Camp Counselor of Penn High School’s Tennis Camp.         
      </p>
    </div>
	</div>
  
  </div>
  <div class="row">
	<div class="col-lg-8 mx-auto text-center">
	  <div class="large text-muted"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde. <strong>Markdown</strong> supported.</p>
</div>
	</div>
  </div>
</div>
</section>

/div>
